head{
	font-size: 32px;
	background-color: black;
}
a {
	font-size: 48px;
	font-family: "Comic Sans MS",cursive, sans-serif;
	color: cyan;
}
body {
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}
p {
	font-size: 13px;
	color: pink;
	font-family: "Comic Sans MS",cursive, sans-serif;
	background-color: black;
}
